---
layout: base
title: Home Page
index: true
---
{% include header.html %}

<div class='container'> 
	<div class='blog-header'>
		<h1 class='blog-title'>LASS Project Blog</h1>
		<p class='lead blog-description'>Details regarding the development and deployment of an open-source Internet-of-Things application. This was done in part as a requirement for our ENGO 500 final year engineering project.</p>
	</div>

	<div class='row'> 
		<div class='col-sm-8 blog-main'>
		{% for post in site.posts limit:5 %}
			<div class='blog-post'>
				<a href='{{ site.baseurl}}{{ post.url }}'><h2 class='blog-post-title'>{{ post.title }}</h2></a>
				<p class='blog-post-meta'>
					{{ post.date | date: "%Y-%m-%d" }} by {{ post.author }}
				</p>
				<span>{{ post.excerpt | strip_html }}</span>
				<hr>
			</div>
		{% endfor %}
		<div class='pager'><a href='{{ site.baseurl }}/archives'>More...</a></div>
		</div>
		<div class='col-sm-3 col-sm-offset-1 blog-sidebar'>
			<div class='sidebar-module sidebar-module-inset'>
				<p>We are a group of students (affectionately referred to as the TurboCats) in our final year of Geomatics Engineering at the Schulich School of Engineering at the University of Calgary.</p> 
			</div>
			<div class='sidebar-module'>
				<h4>Elsewhere</h4>
				<ol class='list-unstyled'>
					<li><a href='https://github.com/ThatGeoGuy/ENGO500'>GitHub: Main Project Page</a></li>
					<li><a href='https://github.com/ThatGeoGuy/ENGO500-Webserver'>GitHub: Website Development</a></li>
			</div>
		</div>
	</div> 
</div>
