body {
    font-family: arial, helvetica, sans-serif;
}

#streamsLevel {
	clear: both;
	float:left;
}

div.thingElement {
	color: white;
    display: inline-block;
	float: left;
    background-color: #F38630;
    border-radius: 5px;
	padding: 5px;
	margin: auto;
}

div.streamElement {
	color: white;
	width: 450px;
    display: inline-block;
    background-color: #3366FF;
    border-radius: 5px;
	padding: 5px;
	margin: 5px;
}
