/* GLOBAL */
body { 
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #ececec;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox { 
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control { 
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin-heading { 
	text-align: center;
}
